Source: libpdl-fit-levmar-perl
Section: perl
Priority: optional
Maintainer: John Lapeyre <lapeyre@physics.arizona.edu>
Build-Depends: debhelper (>= 8),
 perl,
 perl-modules,
 liblapack-dev,
 libblas-dev
Standards-Version: 3.9.2
Homepage: http://search.cpan.org/dist/PDL-Fit-Levmar/

Package: libpdl-fit-levmar-perl
Architecture: any
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}
Description: PDL (perl data language) module for Levenberg-Marquardt (LM) fitting.
 a complete interface to the levmar library (in C) of LM
 routines from PDL. The module provides a unified interface
 to non-linear fitting that supports linear or box
 constraints, single or double precision, and analytic or
 numeric derivatives.
